html {
  //text-size-adjust: 100%;
}

.title {
  height: relative;
  background-color: rgba(#00ff03);
  position: center;
  width: auto;
  border: 8px double;
  border-color:
  padding: 3em;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #bef5ed;
  font-size: 100%;
}

.main {
  height: relative;
  position: center;
  width: auto;
  padding: 2em;
  margin-left: 4em;
  margin-right: auto;
  color: #bef5ed;
  //font-size: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url("images/missions_bg_image.jpg");
  margin-left: 4em;
  margin-right: 4em;
  }

h1 {
  text-align: center;
  margin: 2em;
}

p {
  color: #bef5ed;
  font: 3em;
}
